<!DOCTYPE html>
<html>
<head>
  <title>MiApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= @titulo_pagina %></h1>
<% #incluimos otra plantilla para mostrar mensajes %>
<%= render 'shared/mensajes' %>
<%= yield %>

</body>
</html>
